<html>
	<head>
		<title>Register Form</title>
	</head>
	<body>
		<form action='http://localhost:8099/register' method="post">
			*Username: <input name="name" type="text"><br>
			*Password: <input name="password" type="password"><br>
			*Confirm Password: <input name="confirmPassword" type="password"><br>
			<input type="submit" value="Register">
			<input type="button" onclick="window.location.href='http://localhost:8099/'"  value="back">
		</form>
		<a>* is the required field</a>
		<br>
	<% if (error.length > 0) { %>
		<div class="alert alert-warning">
		<strong>Warning!</strong> <%= error%>
		</div>
	<% } %>	
	<% if (success.length > 0) { %>
		<div class="alert succes">
		<strong>succes</strong> <%= success%>
		</div>
	<% } %>	
	</body>
</html>
