<html>
<body>

<form action="/main/docunmentPage" method="get">
search by name: 
<input type="text" name="name" ><br>
search by borough: 
<input type="text" name="borough" ><br>
search by cuisine: 
<input type="text" name="cuisine"><br>
search by street:<input name="street"><br>
search by building:<input name="building"><br>
search by zipcode:<input name="zipcode"><br>
<input type="submit" value="Search">
</form>
</body>
</html>
